//- include ../_components/carousel/carousel

mixin image(options)

  - figureClass = options.figureClass;
  - imgUrl = options.imgUrl;
  - imgAlt = options.imgAlt || "Alternative text";
  - imgWidth = options.imgWidth;
  - imgHeight = options.imgHeight;
  - imgClass = options.imgClass;

  if figureClass && imgUrl
    figure(class=figureClass)
      img(class=imgClass, src=imgUrl, width=imgWidth, height=imgHeight, alt=imgAlt )
  else if imgUrl
    img(class=imgClass, src=imgUrl, width=imgWidth, height=imgHeight, alt=imgAlt )



mixin media(options)

  - mediaType = options.mediaType || "picture" //- picture || video
  - mediaId = options.mediaId || "";
  - figureClass = options.figureClass;
  - imgUrl = options.imgUrl;
  - imgUrlSM = options.imgUrlSM || options.imgUrl;
  - imgUrlMD = options.imgUrlMD || options.imgUrl;
  - imgUrlLG = options.imgUrlLG || options.imgUrl;
  - imgUrlXLG = options.imgUrlXLG || options.imgUrl;
  - imgAlt = options.imgAlt || "";
  - imgWidth = options.imgWidth || 'auto';
  - imgHeight = options.imgHeight || 'auto';
  - imgClass = options.imgClass;

  - videoControl = options.videoControl || "controls";
  - videoAutoplay = options.videoAutoplay || "autoplay";
  - videoExternalSrc = options.videoExternalSrc;
  - videoMute = options.videoMute || "muted";
  - videoLoop = options.videoLoop || "loop";
  - mediaWidth = options.mediaWidth || 'auto';
  - mediaHeight = options.mediaHeight || '100%';
  - mediaMP4Src = options.mediaMP4Src;
  - mediaOggSrc = options.mediaOggSrc;
  - videoPoster = options.videoPoster;
  - videoTime = options.videoTime || 2000; // Video time on millisecond

  - mediaSupportErrorMsg = options.mediaSupportErrorMsg || 'Your browser does not support the video tag.';
  - mediaAttributs = "";

  if mediaType == 'video'


  if (mediaType == "picture" && imgUrl != "")
    picture(class= figureClass, id= mediaId)
      if imgUrlXLG
        source(media="(min-width: 1600px)", srcset= imgUrlXLG)
      if imgUrlLG
        source(media="(min-width: 64em)", srcset= imgUrlLG)
      if imgUrlMD
        source(media="(min-width: 37.5em)", srcset= imgUrlMD)
      if imgUrlSM
        source(media="(min-width: 0)", srcset= imgUrlSM)

      img(class=imgClass, src=imgUrl, width=imgWidth, height=imgHeight, alt=imgAlt)

  else if (mediaType == "video")
    //- #player.video(class= figureClass, data-id='ZNRSHr3b4uA', data-autoplay='1', data-rel='0', data-fullscreen='1', data-controls='0', data-loop='1', data-mute='1')
    video(id=mediaId, class= figureClass, width= mediaWidth, height= mediaHeight, data-time= videoTime, poster= videoPoster, autoplay muted loop)
      if mediaMP4Src
        source(src= mediaMP4Src, type='video/mp4')
      if mediaOggSrc
        source(src= mediaOggSrc, type='video/ogg')


mixin ctaBtn(options)

  - ctaClass = options.ctaClass;
  - ctaText = options.ctaText;
  - ctaLink = options.ctaLink || "#";

  a( class=ctaClass, href=ctaLink )= ctaText
